[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	email = ice_b0und@hotmail.com
	name = Alex Wang
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[color]
	ui = auto
[diff]
	tool = meld
