## alex's .gitignore
# default to ignore all files in home folder
/*

# pyenv
!/.pyenv

# git stuff
!/.gitignore
!/.gitmodules
!/.gitconfig

# vim stuff
!/.vimrc
!/.vim

# zsh stuff
!/.zshrc
!/.zshenv

# tmux
!/.tmux.conf

# my custom stuff
!/.alex

# map CapsLock key
!/.xsessionrc

# indicater-sysmonitor
!/.indicater-sysmonitor.json

# custom executables
!/bin/*
!/etc/*
!/var/.keep

