[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	email = ice_b0und@hotmail.com
	name = Alex Wang
	signingkey = 567DB166121FF443095A24B468FF2F078BF3159E
[alias]
	co = checkout
	ci = commit
  c = commit
	st = status
	br = branch
  l = log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = auto
[diff]
	tool = meld
[commit]
	gpgsign = true
