## alex's .gitignore
# default to ignore all files in home folder
/*

# git stuff
!/.gitignore
!/.gitmodules
!/.gitconfig

# vim stuff
!/.vimrc
!/.vim

# zsh stuff
!/.zshrc
!/.zshenv

# my custom stuff
!/.alex

# custom executables
!/bin/*
